{% include "app/inc/header.html" with title="Dashboard" icon="subject" d3js="true" daterangepicker="true" %}

<div class="actions">
    <a href="#" class="period"><i class="material-icons">calendar_today</i>
        {% if timeframe.current_start_date == timeframe.current_end_date %}
            <span class="current">{{ timeframe.current_start_date }}</span>
            <span class="previous">{{ timeframe.previous_start_date }}</span>
            {% else %}
            <span class="current">{{ timeframe.current_start_date }} - {{ timeframe.current_end_date }}</span>
            <span class="previous">{{ timeframe.previous_start_date }} - {{ timeframe.previous_end_date }}</span>
        {%  endif %}
        <i class="material-icons chevron">keyboard_arrow_down</i>
    </a>
    <a href="/app/interactions/?id={{metadata.id}}"><i class="material-icons">bubble_chart</i>Visualize interactions</a>
</div>

<div class="sub-content dataset">

    <div class="kpis">
        <div class="sub-content">
            <div class="item active" id="tweets">
                <div class="previous">{{ stats.tweets_count_variation }}</div>
                <div class="count">{{ stats.current_tweets_count }}</div>
                <div class="label">tweets</div>
            </div><!--
                --><div class="item" id="users">
            <div class="previous">{{ stats.tweets_users_variation }}</div>
            <div class="count">{{ stats.current_users_count }}</div>
            <div class="label">users</div>
        </div><!--
                --><div class="item" id="interactions">
            <div class="previous">{{ stats.tweets_interactions_variation }}</div>
            <div class="count">{{ stats.current_interactions_count }}</div>
            <div class="label">interactions</div>
        </div><!--
                --><div class="item" id="density">
            <div class="previous">{{ stats.tweets_density_variation }}</div>
            <div class="count">{{ stats.current_density_count }}%</div>
            <div class="label">density</div>
        </div><!--
                --><div class="item" id="satisfaction">
            <div class="previous">6</div>
            <div class="count">+72</div>
            <div class="label">satisfaction</div>
        </div>
        </div>
    </div>


    <div class="line-chart">

        <svg id="graph"></svg>

        <div class="caption">
        <span class="current">
            <svg height="8" width="16"><line x1="0" y1="4" x2="16" y2="4" style="stroke:#3498db;stroke-width:2" /></svg> Timeframe selected
        </span><span class="spacer"></span>
            <span class="previous">
            <svg height="8" width="16"><line x1="0" y1="4" x2="16" y2="4" style="stroke:#3498db;stroke-width:2;stroke-dasharray:3,1" /></svg>Comparison period
        </span>
        </div>
    </div>

</div>

</div>

</div>

<script>

    var data = {{ detailed_stats|safe }};

    $(".kpis .item .previous").each( function () {
        if($(this).text() < 0) {
            $(this).addClass("decrease");
            $(this).html("<i class=\"material-icons\">arrow_drop_down</i>" + $(this).text() + "%")
        } else {
            $(this).addClass("increase");
            $(this).html("<i class=\"material-icons\">arrow_drop_up</i> +" + $(this).text() + "%")
        }
    });

    $(".kpis .item .count").each( function () {
        $(this).html(numberWithSpaces($(this).text()));
    });

    var parseTime = d3.timeParse("%Y-%m-%d %H:%M");
    data.forEach(function(d) {
        d.current_timeframe = parseTime(d.current_timeframe);
        d.previous_timeframe = parseTime(d.previous_timeframe);
    });

    draw(data, "tweets", "{{ timeframe.delta }}");

    $(document).ready(function() {

        displayDateRangePicker("{{ timeframe.current_start_date|safe }}", "{{ timeframe.current_end_date|safe }}", "dashboard", "{{ metadata.id|safe }}");

        $(".kpis .item").click(function() {
            $(".kpis .item").each( function () {
                $(this).removeClass("active");
            });
            $(this).addClass("active");
            $(".line-chart #graph").html("");
            draw(data, $(this).attr('id'), "{{ timeframe.delta }}");
        });

        $( window ).resize(function() {
            $(".line-chart #graph").html("");
            draw(data, $(".kpis .item.active").attr('id'), "{{ timeframe.delta }}");
        });

        $(".content .toggle-nav").click(function() {
            $('#overlay').fadeIn(125);
            setTimeout(function() {
                $(".line-chart #graph").html("");
                draw(data, $(".kpis .item.active").attr('id'), "{{ timeframe.delta }}");
                $('#overlay').fadeOut(125);
            }, 175);
        });

    });

</script>

</body>
</html>