{% include "app/inc/header.html" with title="Query database" icon="list" datatable="true" %}

    <div class="sub-content">

        <table class="list db">
        <thead>
            <tr class="top">
                <th>Keyword</th>
                <th>Tweets count</th>
                <th>Language</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
            </thead>
        <tbody>
            {% for item in index %}
            <tr>
                <td class="subject"><a href="/app/dashboard?id={{ item.id }}">{{ item.keyword }}</a></td>
                <td class="count" id="{{ item.id }}">{{ item.count }}</td>
                <td class="language">{{ item.lang }}</td>
                <td class="date">{{ item.created }}</td>
                <td class="date">{{ item.updated }} <a href="#" class="update" id="{{ item.id }}"><i class="material-icons">update</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

</div>

</div>

<script>
  window.$('.list').DataTable({
          responsive: true,
          "order": [],
          "pageLength": 25,
          "lengthChange": false,
          "info": false,
          "language": {
            "emptyTable": "No query found"
          }
      });
  $(document).ready(function() {
      if( $( "tbody tr" ).length < 25) {
          $('.dataTables_paginate').hide();
      }

      $("a.update").click(function() {
          _id = $(this).attr('id');
          $(".update#" + _id + " .material-icons").css("animation", "rotation 2s infinite linear");
          $.ajax({
			headers: {
				"X-CSRFToken": getCookie("csrftoken")
			},
			type: "POST",
			url: '/app/update_query/',
			data: {
				_id: _id,
			},
			success: function(response) {},
			complete: function(response) {
                if(response.responseJSON == 0) {
			        $(".global-notification").html("No new tweet detected</span>");
                } else if (response.responseJSON == 1){
			         $(".global-notification").html(response.responseJSON + " new tweet added to the dataset</span>");
                } else {
                        $(".global-notification").html(response.responseJSON + " new tweets added to the dataset</span>");
                }
			    $(".global-notification").fadeIn(85);
				$(".update#" + _id + " .material-icons").css("animation", "none");
				$(".count#" + _id ).html(parseInt($(".count#" + _id ).html()) + parseInt(response.responseJSON));
				$(".global-notification").delay(2500).fadeOut(85);
			}
		});
      });

  });

</script>

</body>
</html>