{% include "app/inc/header.html" with title="Query database" icon="list" datatable="true" %}

    <div class="sub-content">

        <table class="list db">
        <thead>
            <tr class="top">
                <th>Keyword</th>
                <th>Tweets count</th>
                <th>Language</th>
                <th>Created at</th>
            </tr>
            </thead>
        <tbody>
            {% for item in index %}
            <tr>
                <td class="subject"><a href="/app/dataset?id={{ item.0 }}">{{ item.1 }}</a></td>
                <td class="count">{{ item.3 }}</td>
                <td class="language">{{ item.4 }}</td>
                <td class="date">{{ item.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

</div>

</div>

<script>
  window.$('.list').DataTable({
          responsive: true,
          "order": [],
          "pageLength": 25,
          "lengthChange": false,
          "info": false,
          "language": {
            "emptyTable": "No query found"
          }
      });
  $(document).ready(function() {
      if( $( "tbody tr" ).length < 25) {
          $('.dataTables_paginate').hide();
      }
  });

</script>

</body>
</html>