{% include "app/inc/header.html" with title="Visualize interactions" icon="bubble_chart" d3js="true" daterangepicker="true"%}

<div class="actions">
    <a href="#" class="period"><i class="material-icons">calendar_today</i>
        {% if timeframe.current_start_date == timeframe.current_end_date %}
            <span class="current no-previous">{{ timeframe.current_start_date }}</span>
            {% else %}
            <span class="current no-previous">{{ timeframe.current_start_date }} - {{ timeframe.current_end_date }}</span>
        {%  endif %}
        <i class="material-icons chevron">keyboard_arrow_down</i>
    </a>
    <a href="/app/dashboard/?id={{metadata.id}}"><i class="material-icons">subject</i>Dashboard</a>
</div>

    <div class="sub-content full dataset">

        <div class="graph"></div>

        <div class="cards">

            <div class="col-label">Top influencers</div>

            {% for node in influencers %}

                <div class="card">
                    <div class="user">
                        <img class="pic" src="{{ node.profile_image_url }}">
                        <div class="user-details">
                            <span class="name">{{ node.name }}</span><br />
                            <span class="screen_name"><a target="_BLANK" href="https://twitter.com/intent/user?user_id={{ node.id_str }}">@{{ node.screen_name }}</a></span><br>
                            <div class="details">
                                <div class="item"><span class="followers"><span class="label">Followers</span><br><span class="count">{{ node.followers_count }}</span></span></div>
                                <div class="item"><span class="mentions"><span class="label">Mentions</span><br><span class="count">{{ node.mentions }}</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="col-actions">

                <a href="#"><i class="material-icons">add</i>View more</a>

            </div>

        </div>

        <div class="node card">
            <div class="user">
                <img class="pic"/>
                <div class="user-details">
                    <span class="name"></span><br />
                    <span class="screen_name"></span><br />
                    <div class="details">
                        <div class="item"><span class="followers"></span></div>
                        <div class="item"><span class="mentions"></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>

    var data = {{ interactions|safe }};
    var influencers = {{ influencers|safe }},

    counts = $(".cards").find(".count");

    $.each(counts, function(i, val) {
        $(val).html( numberWithSpaces( $(val).text() ) );
    });

    $(document).ready(function() {

        displayDateRangePicker("{{ timeframe.current_start_date|safe }}", "{{ timeframe.current_end_date|safe }}", "interactions", "{{ metadata.id|safe }}");

        var svg = d3.select('.graph').append("svg");
        createV4SelectableForceDirectedGraph(svg, data, influencers);

        $( window ).resize(function() {
            $(".graph").html("");
            var svg = d3.select('.graph').append("svg");
            createV4SelectableForceDirectedGraph(svg, data, influencers);
        });

    });

</script>

</body>
</html>