{% include "header.html" with subtitle="Query database" datatable="true" %}

<div class="content">

    <div class="title">

        <div class="toggle-nav">
            <i class="material-icons">chevron_right</i>
        </div>

        <i class="material-icons">list</i> Query data base

    </div>

    <div class="sub-content">

        <div id="overlay"><div class="typing_loader"></div></div>

        <table class="list db">
        <thead>
            <tr class="top">
                <th>Subject</th>
                <th>Count</th>
                <th>RT included</th>
                <th>Language</th>
                <th>Date</th>
                <th>File</th>
            </tr>
            </thead>
        <tbody>
            {% for item in database %}
            <tr>
                <td class="subject">{{ item.2 }}</td>
                <td class="count">{{ item.3 }}</td>
                <td class="rt">{{ item.4 }}</td>
                <td class="language">{{ item.5 }}</td>
                <td class="date">{{ item.6 }}</td>
                <td class="file"><a href="data_set?seed={{ item.0 }}">{{ item.1 }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

</div>

</div>

<script>
  window.$('.list').DataTable({
          responsive: true,
          "order": [],
          "pageLength": 50
      });
</script>

</body>
</html>