{% include "header.html" with subtitle="Query database" datatable="true" %}

<div class="content">

    <div id="overlay"><div class="loader"><span></span></div></div>

    <div class="title">

        <div class="toggle-nav">
            <i class="material-icons">chevron_right</i>
        </div>

        <i class="material-icons">list</i> Query database

    </div>

    <div class="sub-content">

        <table class="list db">
        <thead>
            <tr class="top">
                <th>Keyword</th>
                <th>Tweets count</th>
                <th>Language</th>
                <th>Created at</th>
            </tr>
            </thead>
        <tbody>
            {% for item in index %}
            <tr>
                <td class="subject"><a href="dataset?id={{ item.0 }}">{{ item.1 }}</a></td>
                <td class="count">{{ item.3 }}</td>
                <td class="language">{{ item.4 }}</td>
                <td class="date">{{ item.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

</div>

</div>

<script>
  window.$('.list').DataTable({
          responsive: true,
          "order": [],
          "pageLength": 25,
          "lengthChange": false,
          "info": false
      });
  $(document).ready(function() {
      if( $( "tbody tr" ).length < 25) {
          $('.dataTables_paginate').hide();
      }
  });

</script>

</body>
</html>