{% include "header.html" with subtitle="Home" %}

<div class="content">

  <div class="title">

    <div class="toggle-nav">
      <i class="material-icons">chevron_right</i>
    </div>

    <i class="material-icons">home</i> Home

  </div>

  <div class="sub-content">

    <p>
      Welcome to my workshop wrapped around the Twitter's API. To explore the possibilities of this workshop, you need to select a data set : you can <a href="#">create a query</a> to dump tweets meeting your search criteria or simply explore the <a href="#">query database</a>.
      Once your data set has been defined, you can sort the processed data with a powerful search engine, get basic information about them and visualize several kinds of graphics about them.
    </p>

  </div>

</div>

</div>

</body>
</html>