{% include "header.html" with subtitle="Visualize interactions" d3js="true"%}


<div class="content">

    <div class="title">

        <div class="toggle-nav">
            <i class="material-icons">chevron_right</i>
        </div>

        <i class="material-icons">bubble_chart</i> Visualize interactions : {{ header.2 }}

    </div>

    <div class="sub-content full">

              <div id="overlay"></div>


        <p class="full">Blue nodes are active users (who tweeted at least one time), grey are inactive ones.<br />
            Use the scroll wheel to zoom, select a specific node by clicking on it.</p>

        <div class="graph full"></div>

        <div class="card">
            <div class="background"></div>
            <div class="user">
                <img class="pic"/>
                <div class="user-details">
                    <span class="alias"></span><br />
                    <div class="details">
                        <div class="item"><span class="freq"></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>

    var data_set = {{ interactions|safe }};

    $(document).ready(function() {

        var svg = d3.select('.graph').append("svg")
        createV4SelectableForceDirectedGraph(svg, data_set);

    });

</script>

</body>
</html>