{% include "header.html" with subtitle="Visualize interactions" d3js="true"%}


<div class="content">

    <div class="title">

        <div class="toggle-nav">
            <i class="material-icons">chevron_right</i>
        </div>

        <i class="material-icons">bubble_chart</i> Visualize interactions : {{ header.2 }}

    </div>

    <div class="sub-content full">

        <div id="overlay"><div class="typing_loader"></div></div>

        <div class="graph full"></div>

        <div class="cards">

            <div class="col-label"><i class="material-icons">show_chart</i>Top influencers</div>

            {% for node in interactions.1 %}

            <div class="card">
                <div class="cover"></div>
                <div class="user">
                    <img class="pic" src="https://avatars.io/twitter/{{ node.alias }}/small">
                    <div class="user-details">
                        <span class="alias"><a target="_BLANK" href="https://twitter.com/intent/user?user_id={{ node.id_str }}">@{{ node.alias }}</a></span><br>
                        <div class="details">
                            <div class="item"><span class="freq"><span class="label">Mentionned</span><br>{{ node.freq }}</span></div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

            <div class="col-actions">

                <a href="#"><i class="material-icons">add</i></a>

            </div>

        </div>

        <div class="node card">
            <div class="cover"></div>
            <div class="user">
                <img class="pic"/>
                <div class="user-details">
                    <span class="alias"></span><br />
                    <div class="details">
                        <div class="item"><span class="freq"></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>

    var data = {{ interactions|safe }};
    data_set = data[0]
    most_engaged_nodes = data[1]

    $(document).ready(function() {

        var svg = d3.select('.graph').append("svg");
        createV4SelectableForceDirectedGraph(svg, data_set, most_engaged_nodes);
        $( ".col-label" ).on( "click", function() {
            $('#overlay').fadeIn(125);
            $.ajax({
                type: "POST",
                url: '/update_interactions?seed=' + getUrlVars()["seed"],
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    start_time: "2018-11-27 18:30",
                    end_time: "2018-11-27 19:00"
                },
                success: function (response) {
                    var data_set = response[0];
                    var most_engaged_nodes = response[1];
                    cards = $(".cards .card");
                    for (i in most_engaged_nodes) {
                        jQuery(cards[i]).find(".pic").attr("src", 'https://avatars.io/twitter/' + most_engaged_nodes[i]["alias"] + '/small');
                        jQuery(cards[i]).find(".alias").html('<a target="_BLANK" href="https://twitter.com/intent/user?user_id=' + most_engaged_nodes[i]["id_str"] + '">@' + most_engaged_nodes[i]["alias"] + '</a>');
                        jQuery(cards[i]).find(".freq").html('<span class="label">Mentionned</span><br>' + most_engaged_nodes[i]["freq"] + '</span>');
                        console.log(most_engaged_nodes[i]);
                    }
                    createV4SelectableForceDirectedGraph(svg, data_set, most_engaged_nodes);
                },
                complete: function(){
                    $('#overlay').fadeOut(125);
                }
            });
        });

    });

</script>

</body>
</html>