{% include "header.html" with subtitle="Visualize interactions" d3js="true"%}


<div class="content">

    <div class="title">

        <div class="toggle-nav">
            <i class="material-icons">chevron_right</i>
        </div>

        <i class="material-icons">bubble_chart</i> Visualize interactions : {{ metadata.2 }}

    </div>

    <div class="sub-content full">

        <div id="overlay"><div class="loader"><span></span></div></div>

        <div class="graph"></div>

        <div class="settings">
            <div class="display">
                <label>Freq. threshold:</label><input class="threshold_val" type="number" min="0" value="0"><br />
                <label>Hide non connected nodes:</label><input type="checkbox">
            </div>
        </div>

        <div class="cards">

            <div class="col-label">Top influencers</div>

            {% for node in interactions.1 %}

                <div class="card">
                    <div class="user">
                        <img class="pic" src="https://avatars.io/twitter/{{ node.alias }}/small">
                        <div class="user-details">
                            <span class="alias"><a target="_BLANK" href="https://twitter.com/intent/user?user_id={{ node.id_str }}">@{{ node.alias }}</a></span><br>
                            <div class="details">
                                <div class="item"><span class="freq"><span class="label">Mentionned</span><br>{{ node.freq }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="col-actions">

                <a href="#"><i class="material-icons">add</i>View more</a>

            </div>

        </div>

        <div class="node card">
            <div class="user">
                <img class="pic"/>
                <div class="user-details">
                    <span class="alias"></span><br />
                    <div class="details">
                        <div class="item"><span class="freq"></span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>

    var data = {{ interactions|safe }};
    data_set = data[0];
    most_engaged_nodes = data[1];

    $(document).ready(function() {

        var svg = d3.select('.graph').append("svg");
        createV4SelectableForceDirectedGraph(svg, data_set, most_engaged_nodes);

    });

</script>

</body>
</html>