{% include "header.html" with subtitle="Create a query" %}

<div class="content">

    <div class="title">

        <div class="toggle-nav">
            <i class="material-icons">chevron_right</i>
        </div>

        <i class="material-icons">search</i> Create a query

    </div>

    <div class="sub-content">

              <div id="overlay"><div class="typing_loader"></div></div>

        <form class="query" action="" method="post">
            {% csrf_token %}
            {{ form|linebreaksbr }}
            <input type="submit" value="Query">
        </form>

    </div>

</div>

</div>

</body>
</html>