{% include "header.html" with subtitle="Visualize" d3js="bubbles.js"%}


<div class="content">

  <div class="title">

    <div class="toggle-nav">
      <i class="material-icons">chevron_right</i>
    </div>

    <i class="material-icons">bubble_chart</i> Visualize : {{ header.2 }}

  </div>

  <div class="sub-content full">

      <div class="graph full"></div>

</div>

</div>

<script>

    function IsJsonString(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
    }

    var data_set = {{ interactions|safe }};
    console.log(data_set);
    console.log(IsJsonString(data_set));

    $(document).ready(function(){

    })

</script>

</body>
</html>