*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM plex Sans', sans-serif;
    overflow-x: hidden;
}

html {
}

html, body {
    height: 100%;

}

.wrapper {
    display: flex;
    position:relative;
    min-height: 100%;
}

.sidebar {
    width: 200px;
    min-height: 100%;
    max-height: 100%;
    background: #34495e;
    font-size: 13px;
    position: fixed;
    z-index: 200;
}

.sidebar header {
    height: 45px;
    background: #3498db;
    display: flex;
    line-height: 45px;
    position: relative;
}

.sidebar .spacer {
    height: 12px;
}

.sidebar li {
    display: flex;
    height: 36px;
    transition: all 0.1s ease-in-out;
    border-left: 3px solid transparent;
}

.sidebar li:hover {
    border-left: 3px solid #3498db;
}

.sidebar .nav a {
    text-decoration: none;
    color: #ecf0f1;
    width: 100%;
    height: 100%;
    line-height: 36px;
    position: relative;
}

.sidebar .nav a .material-icons {
    font-size: 13px;
    width: 42px;
    text-align: center;
    color: #95a5a6;
    display: inline-block;
    vertical-align: -2px;
    height: 36px;
    margin-left: -3px;
}

.content {
    padding-left: 200px;
    width: 100%;
}

.content .title {
    display: flex;
    z-index: 150;
    height: 45px;
    line-height: 45px;
    background: #ecf0f1;
    width: 100%;
    color: #34495e;
    font-size: 13px;
    position: fixed;
}

.content .toggle-nav {
    color: #3498db;
    font-size: 13px;
    cursor: pointer;
    width: 35px;
    text-align: center;
}

.content .title .toggle-nav .material-icons {
    margin-right: 0px;
}

.content .title .material-icons {
    font-size: 14px;
    margin-right: 12px;
    line-height: 45px;
}

.sub-content {
    position: relative;
    margin: 25px;
    margin-top: 70px;
    color: #34495e;
}

/* for better use if model learned */
.sidebar {
    width: 45px;
}

.sidebar .nav a span {
    display: none;
}

.content {
    padding-left: 45px;
}

.sub-content.full {
    margin: 0;
    margin-top: 45px;
    position: relative;
    overflow: hidden;
}

#overlay {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 1);
    z-index: 100;
}


@media only screen and (max-width: 580px) {
    .toggle-nav {
        display: none;
    }
    .title {
        padding-left: 18px;
    }
    .sidebar {
        width: 0;
        position: fixed;
    }
    .sidebar .nav li a {
        display: none;
    }
    .content {
        padding-left: 0px;
    }
}
