/* classic */

p {
    margin-bottom: 18px;
    font-size: 13px;
    text-align: justify;
    border-left: 2px solid #ecf0f1;
    padding-left: 12px;
    color: #2c3e50;
}

p a {
    color: #3498db;
}

/* table */

.actions a {
    display: inline-block;
    color: #34495e;
    text-decoration: none;
    font-size: 12px;
    background: rgba(236,240,241 ,1);
    border-radius: 2px;
    padding: 8px 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.actions a i {
    font-size: 12px;
    vertical-align: -2px;
    padding-right: 8px;
}

.actions input.field {
    padding: 8px 12px;
    border: 0px;
    color: #34495e;
    background: rgba(236,240,241 ,1);
    font-size: 12px;
    border-radius: 2px;
    margin-right: 12px;
}

.actions input.field::placeholder {
    font-family:"Material Icons";
    color: #34495e;
}

.list {
    width: 100%;
    margin-top: 13px; /* -12px used in actions elements */
}

.list tr.top th {
    background: rgba(52,152,219 ,0.8);
    color: #fff;
}

.list th {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    padding: 8px 8px;
}

.list th:first-child {
    border-top-left-radius: 2px;
}

.list th:last-child {
    border-top-right-radius: 2px;
}

.list tr {
    font-size: 13px;
    background: rgba(236,240,241 ,0.7)
}

.list tr:nth-child(2n) {
    background: rgba(236,240,241 ,0.2)
}

.list tr td {
    padding: 6px 8px;
}

.list tr td a {
    color: #3498db;
    text-decoration: none;
}

/* table restyle for datatables jquery */

table.dataTable thead th, table.dataTable thead td {
    border: 0;
    padding: 8px 8px;
    font-weight: 400;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 8px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ecf0f1;
}

.dataTables_length, .dataTables_filter {
    font-size: 13px;
    margin-bottom: 12px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #34495e;
}

.dataTables_wrapper label {
    display: inline-block;
    color: #34495e;
    text-decoration: none;
    font-size: 12px;
    background: rgba(236,240,241 ,1);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0px 12px;
    border: 0;
    height: 31px;
    line-height: 31px;
}

.dataTables_wrapper input {
    color: #34495e;
    text-decoration: none;
    font-size: 12px;
    background: rgba(236,240,241 ,1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0px 12px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 0;
}

.dataTables_wrapper select {
    color: #34495e;
    text-decoration: none;
    font-size: 12px;
    background: rgba(236,240,241 ,1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0px 12px;
    margin-right: 2px;
    margin-bottom: 0px;
    border: 0;
}

.dataTables_info {
    font-size: 13px;
}

.dataTables_paginate {
    font-size: 13px;
    margin-top: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 0;
    background: #ecf0f1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #3498db;
    border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 4px 4px;
}

/* form */

.query label {
    display: inline-block;
    color: #34495e;
    text-decoration: none;
    font-size: 12px;
    background: rgba(236,240,241 ,1);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 8px 12px;
    margin-bottom: 12px;
    padding-right: 0;
    border: 0;
}

.query input[type="submit"] {display: block;
    color: #34495e;
    text-decoration: none;
    font-size: 12px;
    background: rgba(236,240,241 ,1);
    border-radius: 2px;
    padding: 8px 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 0;
}

.query input {
    color: #34495e;
    text-decoration: none;
    font-size: 12px;
    background: rgba(236,240,241 ,1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 0;
}

.query input[type="number"] {
    width: 75px;
}

.query select {
    color: #34495e;
    text-decoration: none;
    font-size: 12px !important;
    background: rgba(236,240,241 ,1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Graphs */

.graph {
    display: block;
}

.graph.full {
    width: 100%;
    height: calc(100vh - 45px);
}

#d3_selectable_force_directed_graph svg {
    border: 1px solid;
    font: 13px sans-serif;
    text-anchor: end;
}

#d3_selectable_force_directed_graph .node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node .selected {
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #bdc3c7;
}

circle.active {
    fill: #3498db;
}

circle.inactive {
    fill:#7f8c8d;
}

.card {
    position: absolute;
    bottom: 25px;
    border: 0;
    border-radius: 2px;
    font-size: 13px;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.card a {
    color: #3498db;
}

.card .background {
    background: #3498db;
    height: 38px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card .user {
    position: relative;
    background: #ffffff;
}

.card .user .user-details {
    margin-left: 46px;
    padding: 6px 12px 8px 12px;
}

.card .user .pic {
    position: absolute;
    border-radius: 50%;
    width: 38px;
    top: -23px;
    left: 10px;
}

.card .details .item:first-child {
    margin-left: 0px;
}

.card .user .item {
    display: inline-block;
    margin-left: 8px;
    margin-top: 4px;
}

.card .user .label {
    font-size: 11px;
    color: #34495e;
}

.card .user .freq {
    color: #3498db;
    font-weight: 600;
}

@media only screen and (max-width: 580px) {
    input:after {
        content: '\A';
        white-space: pre;
    }
    .card {
        bottom: 75px;
    }
}
