/* classic */

p {
  margin-bottom: 18px;
  font-size: 13px;
  text-align: justify;
  border-left: 2px solid #ecf0f1;
  padding-left: 12px;
  color: #2c3e50;
}

p a {
  color: #3498db;
}

/* table */

.actions a {
  display: inline-block;
  color: #34495e;
  text-decoration: none;
  font-size: 12px;
  background: rgba(236,240,241 ,1);
  border-radius: 2px;
  padding: 8px 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.actions a i {
  font-size: 12px;
  vertical-align: -2px;
  padding-right: 8px;
}

.actions input.field {
  padding: 8px 12px;
  border: 0px;
  color: #34495e;
  background: rgba(236,240,241 ,1);
  font-size: 12px;
  border-radius: 2px;
  margin-right: 12px;
}

.actions input.field::placeholder {
  font-family:"Material Icons";
  color: #34495e;
}

.list {
  width: 100%;
  margin-top: 13px; /* -12px used in actions elements */
}

.list tr.top {
  background: rgba(52,152,219 ,0.8);
  color: #fff;
}

.list th {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 8px;
}

.list th:first-child {
  border-top-left-radius: 2px;
}

.list th:last-child {
  border-top-right-radius: 2px;
}

.list tr {
  font-size: 13px;
  background: rgba(236,240,241 ,0.7)
}

.list tr:nth-child(2n) {
  background: rgba(236,240,241 ,0.2)
}

.list tr td {
  padding: 6px 8px;
}

.list tr td a {
  color: #3498db;
  text-decoration: none;
}

/* form */

label {
  display: inline-block;
  color: #34495e;
  text-decoration: none;
  font-size: 12px;
  background: rgba(236,240,241 ,1);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 8px 12px;
  margin-bottom: 12px;
  padding-right: 0;
  border: 0;
}

input[type="submit"] {display: block;
  color: #34495e;
  text-decoration: none;
  font-size: 12px;
  background: rgba(236,240,241 ,1);
  border-radius: 2px;
  padding: 8px 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 0;
}

input {
  color: #34495e;
  text-decoration: none;
  font-size: 12px;
  background: rgba(236,240,241 ,1);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 8px 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 0;
}

input[type="number"] {
  width: 75px;
}

select {
  color: #34495e;
  text-decoration: none;
  font-size: 12px;
  background: rgba(236,240,241 ,1);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 7px 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 0;
}

.graph {
  display: block;
}

.graph.full {
  width: 100%;
  height: calc(100vh - 45px);
}

@media only screen and (max-width: 580px) {
  input:after {
    content: '\A';
    white-space: pre;
  }
}
